.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  grid-template-areas:
    "sidebar  header"
    "sidebar  main";
  height: 100vh;
}

header {
  grid-area: header;
  display: grid;
}

.h-top-row,
.h-bot-row {
  display: flex;
  justify-content: space-between;
}

nav {
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
}

nav li {
  list-style: none;
}

main {
  grid-area: main;
}
